@using la_mia_pizzeria_static.Models
@model PictureFormModel

@{
    ViewData["Title"] = "Create";
}

@{
    List<bool> isPresent = new List<bool>();
    foreach (var m in Model.Categories)
    {
        bool found = false;
        foreach (var i in Model.Picture.Categories)
        {

            if (int.Parse(m.Value) == i.Id)
                found = true;


        }
        isPresent.Add(found ? true : false);
    }
}

<h1>Crea nuova Foto</h1>
<hr />
<div class="row">
    <div class="col-md-8 mx-auto">
        <form asp-controller="Picture" method="post" asp-action="Edit" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Picture.Title" class="control-label">Titolo</label>
                <input value="@Model.Picture.Title" asp-for="Picture.Title" class="form-control" />
                <span asp-validation-for="Picture.Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Picture.Description" class="control-label">Descrizione</label>
                <input value="@Model.Picture.Description" asp-for="Picture.Description" class="form-control" />
                <span asp-validation-for="Picture.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input checked="@Model.Picture.Visible" class="form-check-input" asp-for="Picture.Visible" /> Visibile
                </label>
            </div>
            <div class="form-field mb-3">
                <label asp-for="ImageFormFile">Foto</label>
                <input value="@Model.Picture.Image. accept="image/*" type="file" asp-for="ImageFormFile" />
                <span asp-validation-for="ImageFormFile" class="text-danger"></span>

            </div>
            <div class="mb-3">
                <strong>Categorie:</strong>
                <select asp-for="SelectedCategories"
                        multiple="multiple"
                        size="10"
                        class="form-control mb-2 mr-sm-2 ml-sm-3 leftList">
                    @for (int i = 0; i < Model.Categories.Count; i++)
                    {
                        @if (isPresent[i])
                        {
                            <option selected value="@Model.Categories[i].Value">@Model.Categories[i].Text</option>
                        }
                        else
                        {
                            <option value="@Model.Categories[i].Value">@Model.Categories[i].Text</option>
                        }
                    }
                </select>
                <span asp-validation-for="SelectedCategories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Modifica" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Torna alla lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


